@use '@angular/material' as mat;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
    @include mat.toolbar-overrides((
        container-background-color: var(--mat-sys-primary-container),
        container-text-color: var(--mat-sys-on-primary-container),
    ));

    @include mat.sidenav-overrides((
        container-background-color: var(--mat-sys-secondary-container),
        container-text-color: var(--mat-sys-on-secondary-container),
        container-width: calc(48px + 40px),
    ));
}